/* SECCION DE NOTIFICACIONES */

/*GENERAL======================================================================================================================*/
* {
    box-sizing: border-box;
}

*,
*:focus,
*:active {
    outline: none;
    text-decoration: none;
}

*::-moz-focus-inner {
    border: 0px;
}


body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


a {
	display: inline-block;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 14px;
    color: #fff;
    text-decoration: none;
}


p {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 18px;
	line-height: 20px;
}

h2 {

	color: #545B6C;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	font-size: 34px;
	text-align: center;

}

h3 {
	color: #7F7F7F;
	font-family: Montserrat;
	font-size: 21px;
	font-weight: 300;
	line-height: 35px;
	text-align: center;
}

h4 {

	color: #FF8B08;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 21px;
	line-height: 28px;
	text-align: center;

}

#bottommenu{
  position: fixed;
  top: -100%;
  width: 100%;
  height: 85px;
  z-index: 999;
  -webkit-transition: top 1s;
  transition: top 1s;
  box-shadow: 0 3px 28px -3px rgba(0,0,0,0.56);
  background-color: #fff;
}

#bottommenu .logomenu{
	background: url('../img/sprite_global_a.svg') 0 -899px;
	width: 151px;
	height: 74px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 0.3rem;;

}

   
/*NOTIFY======================================================================================================================*/


.notify{
    background: linear-gradient(180deg, #FFA508 0%, #FF8B08 100%);
    text-align: center;
    height: 40px;
    width: 100%;
    margin-bottom: 1rem;
}

.notify p i {
	height:20px;
	width:22px;
	background: url('../img/sprite_global_a.svg') -20px 0;
	display: inline-block;
}

.notify p {
    color:#fff;
    font-size: 14px;
    margin-top: 5px;
    display: inline-block;
    margin-left: 50px;

}
.notify a{
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 14px;
    color: #000;
    text-decoration: none;
    margin-left: 10px;
    border-bottom: 1px solid #000;

}
/* SECCION BANNER */

/*BANNER======================================================================================================================*/



.banner .btn_sec {
	float: right;
	margin-top: 1.5rem;
	width: 145px;
	border: 2px solid #FF8B08;
	border-radius: 35.5px;
	padding: 0.7em;
	line-height:normal;
	display: flex;
}

.banner .btn_sec span {
	height: 20px;
	margin-left: 10px;
}

.banner .btn_sec i {
	height:19px;
	width:18px;
	background: url('../img/sprite_global_a.svg') 0px 0;
	margin-left: 5px;
}

.banner .container .logo {
	background: url('../img/sprite_global_a.svg') 0 -143px;
	width: 151px;
	height: 74px;
	margin-right: auto;
	margin-left: auto;
}

.banner h2 {
	margin: 0px;
}


.banner p {
	text-indent:-666em;
    overflow:hidden;
    height: 0px;
}


.banner h1 {
	width: 60%;
	color: #FFFFFF;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	font-size: 2.7rem;
	line-height: 53px;
	text-align: center;
	margin:0 auto;
	margin-bottom: 15px;
}

.banner .enlaces {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 40px;
	width: 30%;
	text-align: center;
}

.banner .enlaces a:last-child {
	 margin-left: 15px;

}

.banner .container .enlaces a {
	border-bottom: 1px solid #fff;

}

.banner .btn_video{
	margin: 0 auto;
	margin-bottom: 2rem;
	display: flex;
	/*Para poder centrar un class*/
	align-content: center;
	justify-content: center;

}

.banner .btn_video i {
	height:17px;
	width:7px;
	background: url(../img/sprite_global_a.svg) 0px -127px;
	margin-right: 5px;
}

.banner .container .row .g12 .btn_video a {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 18px;
	color: #FF8B08;
	text-decoration: none;
}

.btn_primario {
	width: 190px;
	border-radius: 24px;
	background-color: #FF8B08;
	box-shadow: 0 1px 5px 0 rgba(0,0,0,0.5);
	font-family: 'Lato', sans-serif;
    padding: 12px 5px;
    font-weight: 300;
    color: #ffffff;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 6rem;
}

.banner .container .row .btn_primario a{
	  border-bottom: 0px solid #fff;
	  font-size: 14px;
	  letter-spacing: 0.07rem;
	  color: white;
}



.btn_primario:hover {
	background-color: #FF9C2B;
	color: white;

}

.hero-scroll {
	height: 8px;
    width: 12px;
    background: url(../img/sprite_global_a.svg) -45px -1px;
    position: relative;
    z-index: 15;
    bottom: 2.625em;
    left: 50%;
}


/*VIDEO======================================================================================================================*/

video { 
	position: absolute;
    top: 40%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
 	background: url('//demosthenes.info/assets/images/polina.jpg') no-repeat;
	background-size: cover;
	transition: 1s opacity;
	filter:brightness(0.25);

}


.banner {
/*	background-image: url('../img/Bitmap.png' );
*/	background-size:contain;
	background-position:center;

  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
 	 background-size: cover;
}



/*LO QUE HACEMOS======================================================================================================================*/




.description {
	background: url('../img/path_a.svg') no-repeat;
	background-size: contain;
	background-position:center center;
	width: 100%;
	background-color: white;
	background-position-y: 15rem;
	background-clip: border-box;
}

.description h3 {
	width: 70%;
	margin: 0rem auto 10rem;
}

.description .container .g12 h3 {
    margin-top:5rem;
}


.container .g4 {
	height: 300px;
	border-radius: 5px;
	background-color: #FFFFFF;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.container .g4:hover{
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.container .g4 h4:hover{
}

.container .icon_jobmatch {
	background: url('../img/sprite_global_a.svg') 0 -580px;
	width: 93px;
	height: 96px;
	margin: 0 auto;
}

.container .icon_evaluation {
	background: url('../img/sprite_global_a.svg') 0 -690px;
	width: 81px;
	height: 96px;
	margin: 0 auto;

}

.container .icon_search {
	background: url('../img/sprite_global_a.svg') 0 -790px;
	width: 75px;
	height: 96px;
	margin: 0 auto;

}

#hacemos {
	margin-top: 0rem;
	background-color: #fff;
}

#hacemos .container .row__b{
	height: 300px;
	margin-bottom: 6rem;
}

#hacemos .container .row h2{
	margin-top: 3rem;
	margin-bottom: 2rem;
}

#hacemos .container .row .g4{
	padding: 26px;
	box-sizing: border-box;
}

#hacemos .container .row h4 {
	margin-bottom: 3px;
}

#hacemos .container  {
	z-index: 100;
}

#hacemos .container .row p {
	color: #9B9B9B;
	font-size: 16px;
	letter-spacing: 0.01rem;
	line-height: 1.3rem;
}

/*SEPARADOR======================================================================================================================*/


.separador__central i{
	background: url('../img/path_b.svg') no-repeat;
	margin-top: 10px;
    width: 193px;
    height: 56px;
    margin: 0 auto;
    display: block;
    background-size: contain;
    background-position: center center;
}


/*COMPARACION======================================================================================================================*/

.container .row__c{
	margin-top: 3rem;
	margin-bottom: 6rem;

}

#comparation .row .g6 {
}

#comparation {
	background: url('../img/background-gray.png') repeat-y;
	background-position-x: left;

}

#comparation .row h2 {
	color: white;
}

#comparation .container .row hr{
	width: 50px;
	margin-left: 0px;
	border: none;
	border-bottom: 1px solid #fff;
}

#comparation .container p {
	color: #fff;
}


#comparation .container .processTradicional {
	padding: 20px 40px 20px 40px;
	position: relative;
	margin-top: -70px;
	border-radius: 5px;
	background-color: #3F4247;
	box-shadow: 0 6px 42px 0 rgba(20,20,20,0.46), 0 10px 30px 0 rgba(0,0,0,0.09);
	clear: both;
}

#comparation .container .processTradicional h2 {
	text-align: left;

}


#comparation .container .processKrowdy {
	background: url('../img/path_d.svg') no-repeat;
	background-position-y: 10rem;
	background-position-x: 21rem;
	padding: 20px 20px 10px 40px;
	position: relative;
	margin-top: -90px;
	height: 250px;
	border-radius: 5px;
	background-color: #FF8B08;
	box-shadow: 0 6px 42px 0 rgba(20,20,20,0.46), 0 10px 30px 0 rgba(0,0,0,0.09);
}

#comparation .container .processKrowdy h2 {
	text-align: left;
}

#comparation {
	background-color: #3F4247;
}

#comparation .container .row h5 {
	height: 42px;
	color: #FFFFFF;
	font-family: 'Montserrat', sans-serif;
	font-size: 34px;
	font-weight: 500;
	line-height: 42px;
}

#comparation .container .row span {
	color: #9E9FA1;
	font-family: Lato; sans-serif;
	font-size: 12px;
	line-height: 0px;
	letter-spacing: 0.12rem;

}

#comparation .container .row li {
    height: 44px;
    width: 100%;
    opacity: 0.5;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: 300;
    letter-spacing: 0.03rem;
}

#comparation .container .row .process-k .processKrowdy li{
	color: white;
}

#comparation .container .row span{
	color: #FF8B08;
}

/*Icono de lista*/
#comparation .container .row .g6 .icon{
	height:30px;
	width:30px;
	background: url('../img/sprite_global_a.svg') 0px -444px;
	display: inline-block;
	float: left;
    margin-left: -40px;
    margin-top: 5px;
}



#comparation .calltoaction p{
    width: 100%;
    opacity: .5;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-size: 21px;
    font-weight: 300;
    letter-spacing: 0.03rem;
    text-align: center;
   	left: 10px;
}


/*SEPARADOR*/

.separador {
	background-color: #EBEBEB;
    padding: 3px;
    margin-bottom: 3rem;
}

.separador h3{
	color: #3F4247;
	font-family: Montserrat;
	font-size: 24px;
	line-height: 35px;
	text-align: center;
}

.form-section__left .logo-ornamental {
    margin-left: 199px;
    margin-bottom: -59px;	

}

.form-section__left .logo-ornamental i{
	height:89px;
	width:116px;
	background: url('../img/sprite_global_a.svg') 0px -481px;
	display: inline-block;
}

.form-section__left{
	margin-top: 80px;
	margin-bottom: 40px;
}

.form-section__left h2{
	text-align: left;
	line-height: 1.2;
}

.form-section__rigth {

}

.form-section__rigth span{
	font-family: Lato; sans-serif;
	font-size: 12px;
	line-height: 0px;
	letter-spacing: 0.12rem;
	color: #545B6C;
	margin-bottom: 3rem;
	display: inline-block;
	text-align: left;
}

input[type=text] {
    border: none;
    border-bottom: 2px solid #FF8B08;
	line-height: 0px;
	letter-spacing: 0.12rem;
	color: #545B6C;
	width: 350px;
	margin-bottom: 2rem;

}	

label, textarea {
	font-family: Lato; sans-serif;
	font-size: 12px;
	letter-spacing: 0.12rem;
	color: #545B6C;
}

input {
	font-family: Lato; sans-serif;
	font-size: 18px;
	color: #545B6C;
}

input[type=checkbox] {
}

input[type=submit] {
	width: 190px;
	border-radius: 24px;
	background-color: #FF8B08;
	font-family: 'Lato', sans-serif;
    padding: 12px 5px;
    font-weight: 300;
    color: #ffffff;
    margin-bottom: 6rem;
}

.section__button {
	width: 190px;
	height: 46px;
	margin: 0 auto;
	margin-bottom: 3rem;
}

.line-footer hr{
	border: none;
	border-bottom: 1px solid #EBEBEB;
}


/*FOOTER======================================================================================================================*/

footer .container .row .footer-section__left {

}

/*SOCIAL ICON*/

footer .twitter {
	height:42px;
	width:42px;
	background: url('../img/twitter.svg');
	display: inline-block;
}

footer .twitter:hover {
	height:42px;
	width:42px;
	background: url('../img/twitter_hover.svg')  no-repeat;
	display: inline-block;
}

footer .facebook {
	height:42px;
	width:42px;
	background: url('../img/facebook.svg');
	display: inline-block;
}

footer .facebook:hover {
	height:42px;
	width:42px;
	background: url('../img/facebook_hover.svg')  no-repeat;
	display: inline-block;
}

footer .youtube {
	height:42px;
	width:42px;
	background: url('../img/youtube.svg');
	display: inline-block;
}

footer .youtube:hover {
	height:42px;
	width:42px;
	background: url('../img/youtube_hover.svg')  no-repeat;
	display: inline-block;
}

footer .instagram {
	height:42px;
	width:42px;
	background: url('../img/instagram.svg');
	display: inline-block;
}

footer .instagram:hover {
	height:42px;
	width:42px;
	background: url('../img/instagram_hover.svg')  no-repeat;
	display: inline-block;
}



footer .container .row .footer-section__left li{
    display: inline-block;
    padding: 0px 20px 0px 0px;
}


footer .container .row .footer-section__rigth span{
	margin-right: 0px;
	font-family: 'Lato', sans-serif;
	color: #545B6C;	
}

footer .date{
	margin: 7% 0 0 0;
    float: right;
}

footer .date span{

}

/*240 / 320 / 480 / 720 / 960 / 1200 */

@media (min-width: 320px) and (max-width: 480px)  {
	body {
		margin: 0;
		box-sizing: border-box
	}

	.notify{
		height: 80px;
		width: 100;
		margin-bottom: 0rem;
	}

	.notify i{
		width: 95%;
	}

	/*BOTON LLAMADA*/
	.banner .btn_sec {
		display: none;
		/*float: none;
		margin: 2rem auto;*/
	}

	.container video{
		display: none;
	}

	
	.banner {
		background: #000;
		width: 100%;
		height: auto;
	}
	
	section .row .g12 .logo {
		background: url('../img/sprite_global_a.svg') 0 -143px;
		width: 151px;
		height: 74px;
		margin-right: auto;
		margin-left: auto;
		margin-top: 1rem;
	}

	section .row .g12 h1 {
		font-size: 2.2rem;
		line-height: 2.6rem;
		width: 90%;
	}






	/*FOOTER*/

	.form-section__left .logo-ornamental i{
	display: none;
	}	

	input[type=text] {
    border: none;
    border-bottom: 2px solid #FF8B08;
	line-height: 0px;
	letter-spacing: 0.12rem;
	color: #545B6C;
	width: 100%;
	margin-bottom: 2rem;

}	

	
	footer .container .row .footer-section__left ul{
	display: flex;
	flex-direction: row;
	padding-left: 0%;
	text-align: center;


	}


	footer .container .row .footer-section__left {

	}




}



