

.banner {
	height: 540px;
}

.banner h2 p {
	text-indent: -1000;
}
.banner h1 {

		height: 84px;	
		width: 672px;
		color: #FFFFFF;
		font-family: 'Montserrat', sans-serif;
		font-weight: 400;
		font-size: 43px;
		line-height: 53px;
		text-align: center;
		margin:0 auto;
}

.notify{
    background: linear-gradient(180deg, #FFA508 0%, #FF8B08 100%);
    text-align: center;
}
.notify p {
    color:#fff;
}
.notify p a{
    color: #000;
    text-decoration: underline;
}
.banner{
	background-image: url('../img/Bitmap.png'); 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
 	 background-size: cover;
}
