/* SECCION DE NOTIFICACIONES */


h3 {
		color: #7F7F7F;
		font-family: Montserrat;
		font-size: 21px;
		font-weight: 300;
		line-height: 35px;
		text-align: center;
}

.notify{
    background: linear-gradient(180deg, #FFA508 0%, #FF8B08 100%);
    text-align: center;
    height: 40px;
}
.notify p {
    color:#fff;
}
.notify p a{
    color: #000;
    text-decoration: underline;
}
/* SECCION BANNER */
.banner {
	height: 450px;
}

.banner h2 p {
	text-indent: -1000;
}
.banner h1 {

		height: 84px;	
		width: 672px;
		color: #FFFFFF;
		font-family: 'Montserrat', sans-serif;
		font-weight: 300;
		font-size: 43px;
		line-height: 53px;
		text-align: center;
		margin:0 auto;
}


.banner{
	background-image: url('../img/Bitmap.png'); 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
 	 background-size: cover;
}

.description .container {

}

.description h3 {
	width: 70%;
	margin: 0 auto;
	margin-top: 2.5rem;
}
